<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/profile.jpg" alt="Adine Image" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Adine Pamungkas</h1>
            <p class="leed">Web Programmer | Mobile Developer</p>
        </div>
    </div>
</div>